
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="" />
    <meta name="generator" content="Hugo {{ .Hugo.Version }} with theme C8yDocs">
    <title>{{ with .Title }}{{ . }} - {{$.Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
    <meta name="author" content="{{ .Site.Author.name }}">
    <meta name="keywords" content="{{ with .Keywords }}{{ delimit . ", " }}{{ end }}{{ if .Site.Params.keywords }}, {{ delimit .Site.Params.keywords ", " }}{{ end }}">


    <link rel="icon" href="{{ with .Site.Params.favicon }}{{ . }}{{ else }}/favicon.png{{ end }}">

    <!--STYLES-->

    {{ $cssfile := "style.css" }}

    {{ $options := (dict "targetPath" $cssfile "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/myscss")) }}
    
    {{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options  }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <!--STYLES END-->

    <script type="text/javascript" src="https://www.bugherd.com/sidebarv2.js?apikey=1sfqr5kpjepyyxbd03qk7w" async="true"></script>
   
  </head>