<button type="button" class="sidebar-toggle">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span>MENU</span>
</button>
<div class="dropdown version">
  <a class="dropdown-toggle version"
    type="button"
    id="dropdownVersionButton"
    
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false">
    <span id="current-dropdown-version-toggle" class="text-truncate">Release 10.5.0</span> <span class="caret"></span>
  </a>
  <div class="dropdown-menu"
    aria-labelledby="dropdownVersionButton">
    <!-- <a href="#" class="dropdown-menu-item">10.4.6</a>
    <a href="#" class="dropdown-menu-item">10.4.0</a> -->
  </div>
</div>
<nav class="main-top-bar" >
  <div class="d-flex container">
    <ul class="nav d-flex flex-start hidden-xs hidden-sm nav-left">
      <li><a href="https://www.softwareag.cloud/site/product/cumulocity-iot.html">Cumulocity IoT</a></li>
      <li><a href="http://resources.cumulocity.com/documentation/jssdk/latest/#/api">Cumulocity Angular API</a></li>
      <li><a href="http://techcommunity.softwareag.com/web/guest/home/-/product/name/cumulocity">TECHcommunity</a></li>
      <li><a href="https://empower.softwareag.com/">Empower Portal</a></li>
    </ul>
    <ul class="nav flex-end nav-right">
      <li>
            <script>
              (function() {
                var cx = '008969372384807682938:yeh7xt785g4';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
        <gcse:searchbox></gcse:searchbox>
      </li>
    </ul>
  </div>
</nav>
<gcse:searchresults ></gcse:searchresults>