<nav class="main-nav navbar">
  <header class="nav-header">
    <a href="{{ .Site.Params.guidesRedirect}}">
      <img src="{{ with .Site.Params.logo }}{{ . | absURL }}{{ end }}"
        class="img-responsive no-zoom"
        alt="Cumulocity IoT">
    </a>
    
    <div class="dropdown">
      <button class="dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        <span id="current-dropdown-toggle" class="text-truncate"></span> <span class="caret"></span>
      </button>
      <div class="dropdown-menu"
        aria-labelledby="dropdownMenuButton">
        {{$current := . }}
        {{ $currentBundle := newScratch}}
        {{ range where .Site.RegularPages "Type" "root" }}
        {{ $subs := where .Site.Pages "Section" .Params.bundle }}
        {{$scratch := newScratch}}
        {{$rootclass := newScratch}}
        {{/* grab the link from the first child page  */}}
        {{ range $sub := first 1 $subs}}
        {{ $scratch.Set "url" $sub.Permalink}}
        {{end}}

        {{/* Check the current page to highlight the right root section  */}}
        {{$rootclass.Set "active" "" }}
        {{ if eq .Params.bundle $current.Section }}
        {{$rootclass.Set "active" "active" }}
        <span class="current-app">{{.Title}}</span>
        {{ $currentBundle.Set "bundle" (printf "/%s-%s" .Params.bundle "bundle") }}
        {{ end }}

        <a class='dropdown-menu-item {{ $rootclass.Get "active"}}'
          href='{{ $scratch.Get "url"}}'><i class="{{.Params.icon}}"></i> {{.Title}}</a>
        {{ end }}
      </div>
    </div>
  </header>

  {{ $bundle := $currentBundle.Get "bundle" }}

  <nav id="main-nav"
    class="nav-sections">
    {{ range $i, $slot := where .Site.Pages "Section" .Section }}
    {{ if .IsPage }}
    <div class="{{if eq $current.Permalink .Permalink }} slot-active {{ end}}">
        {{ $parentUrl := .Permalink }}
        {{ $bundle := printf "/%s-%s" .File.BaseFileName "bundle"  }}
        {{ $headless := .Site.GetPage $bundle }}
        {{ if $headless }}
      <a href="javascript:void(0);"
        data-toggle="collapse"
        data-target="#page-nav{{$i}}"
        class="collapse-btn {{if ne $current.Permalink .Permalink }} collapsed {{ end}}">
        <i class="fa fa-chevron-right "></i>
      </a>
      {{ end }}
      <a class="{{if eq $current.Permalink .Permalink }} active {{ end}}"
        href="{{.Permalink}}">{{.Title}}</a>
     
      {{ if $headless }}
      {{ $reusablePages := sort ($headless.Resources.ByType "page") ".Params.weight" }}
      <div id="page-nav{{$i}}"
        class="collapse  {{if eq $current.Permalink $parentUrl }} show {{end}} ">
        <nav class="list-group nav">
          {{ range $reusablePages }}
          {{if eq $current.Permalink $parentUrl }}
          <a class="list-group-item"
            href="#{{substr .Name 0 -3}}">{{.Title}}</a>
          {{else}}
            <a class="list-group-item"
              href="{{$parentUrl }}#{{substr .Name 0 -3}}">{{.Title}}</a>
            {{end}}
            {{ end }}
        </nav>
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  </nav>
</nav>
<div class="cover"></div>